body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: black;
    padding: 20px 0;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.Logo{
    text-decoration: none;
    color: yellow;
    
    border-radius: 10px;
    font-size: 20px;
    margin-left: 76px;
}
h1 strong{
    color: black;
    width: 30px;
    height: 40px;
    background-color: yellow;
    
    border-radius: 5px;
    padding: 2px;
}
.nav-container{
    margin-right:76px;
}
.navbar{
    text-decoration: none;
    color: yellow;
  
    margin:0 auto 0 15px;
    padding: 10px;
    border-radius: 15px;
    
}
.navbar:hover{
    color: black;
    transition: 0.5s;
    background-color: yellow;
    border-radius: 15px;
    
}

main{
    background-color: burlywood;
    
    

}
.main-container{
    padding: 20px;

    
}
.filmes-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.filme{
    margin: 10px;
    border-radius: 5%;
}
footer{
    background-color: black;
    padding: 20px 0;
    margin: auto 0;
    
}
.flex-container1{
    margin: 0 38% 1% 38%;
    display: flex;
    justify-content: space-around;
}
.direitosAutorais{
    color: yellow;
    text-align: center;
}



